<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="retailer.testcomponent.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Order Process">
	  <classes>
		  <class name="retailer.tests.orderprocess"></class>
	  </classes>
  </test> <!-- Test -->
<test thread-count="5" name="Order Managment Validation">
	  <classes>
		  <class name="retailer.tests.ordermanagmentvalidation"></class>
	  </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
